*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    color: white;
}

.nav-buttons{
    margin-left: 60%;
    }
    
    body{
    color: white;
    font-family: 'Poppins', sans-serif;
    }
    
    h1{
    font-size: 2.5rem;
    font-weight: 700;
    }
    
    h2{
    font-size: 1.8rem;
    font-weight: 600;
    }
    
    h3{
    font-size: 1.5rem;
    font-weight: 800;
    }
    
    h4{
    font-size: 1.2rem;
    font-weight: 600;
    }
    
    h5{
    font-size: 1rem;
    font-weight: 400;
    }
    
    h6{
    color:white;
    }
    
    .navbar{
    font-size: 16px;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    top: 0;
    left:0;
    background-color: transparent;
    }
    
    .navbar-light .navbar-nav .nav-link{
    color:white;
    }
    
    .navbar-light .navbar-nav .navbar-link{
    padding: 0 20px;
    color: white;
    transition: 0.4s ease;
    }
    
    .navbar-light .navbar-nav .nav-link:hover, 
    .navbar i:hover,
    .navbar-light .navbar-nav .nav-link.active
    .navbar i:hover{
    color:red;
    transform: scale(1.2);
    }
    
    .navbar-light .navbar-nav .nav-link:hover, 
    .navbar a:hover,
    .navbar-light .navbar-nav .nav-link.active
    .navbar a:hover{
    color:red;
    transform: scale(1.2);
    }
    
    .navbar a{
    font-size: 1.2rem;
    padding: 0 0.7px;
    transition: 0.4s ease;;
    cursor: pointer;
    margin-top: 8px;
    margin-left: 30px;
    }
    
    @media only screen and (max-width: 1280px){
        .nav-buttons{
        margin: 10px;
        }
        .nav-buttons ul{
        margin: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        }
        .nav-buttons ul .fas{
         margin: 20px 5px 10px 20px; 
        }
    }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    color: white;
}

body{
    padding-top: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to left, black, #330501, black);
    height: 90vh;
}

.header{
    width: 70%;
    background-color: #181717;
    border-radius: 3px;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid white;
    margin-top: 100px;
    
}

.header .logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.cart{
    display: flex;
    background-color: rgb(75, 73, 73);
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}

.fa-solid{
    color: rgb(212, 205, 205);
}

.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: rgb(34, 33, 33);
    color: white
}

.container{
    display:flex;
    width: 70%;
    margin-bottom: 30px;
}

#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.sidebar{
    margin-top: 5vh; 
    margin-bottom: 7vh; 
    width: 40%;
    border-radius: 5px;
    background-color: #181717;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
    border: 1px solid white;
}

.head{
    background-color: rgb(46, 46, 46);
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #ffffff;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
}

.img-box{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center
}

.images{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}

.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

h2{
    font-size: 20px;
    color: red;
}

button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: red;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
}

button:hover{
    background-color: #333;
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(48, 47, 47);
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}

.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid rgb(253, 253, 253);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}

.fa-trash:hover{
    cursor: pointer;
    color: #ffffff;
}






